<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <h1>Sign Up</h1>

    <div class="signup" >
        <form data-th-action="@{/signup/save}" data-th-object="${info}" method="POST"><!-- object is from model in controller -->
            <p>
                Name:
                <input type="text" data-th-field="*{userName}"/> <br>
            <span class="error" data-th-if="${#fields.hasErrors('userName')}" data-th-errors="*{userName}" style="color:red; background-color: dimgray;"></span>
            </p>
    
            <p>
                Password:
                <input type="password" data-th-field="*{password}" minlength="8"> <br>
            <span class="error" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" style="color:red; background-color: dimgray;"></span>
            </p>
            <p>
                Email:
                <input type="text" data-th-field="*{email}"/> <br>
            <span class="error" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" style="color:red; background-color: dimgray;"></span>
            </p>
            <!-- <p>
                Do you want our newsletter?
                Yes Please!<input type="radio" data-th-field="*{wantsNewsletter}" value =""checked/> 
                Nah!<input type="radio" data-th-field="*{wantsNewsletter}"/> 
                <br>  
            </p> -->
    
            <button type="submit" value="signup">Sign Up</button>
        </form>
    </div>
     
</body>

</html>